@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{ ViewData["Title"] = "Profile"; }
<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img src="@Model.Walker.ImageUrl" alt="avatar" class="profile" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        
        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Recent Walks</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Client
                        </th>
                        <th>
                            Duration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walk walk in Model.Walks)
                    {
                        @foreach (Owner owner in Model.Owners)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => walk.Date)
                                </td>
                                <td>

                                    @*<p>@owner.Name</p>*@
                                    @Html.DisplayFor(modelItem => owner.Name)
                                    
                                </td>
                                <td>
                                    @(walk.Duration / 60) min
                                </td>

                            </tr>
                        }
                    }

                    </tbody>

            </table>
        </section>
    </div>
    <div>
        @{ int totalWalkDuration = 0;
            foreach (Walk walk in Model.Walks)
            {
                { totalWalkDuration += walk.Duration; }
            };
        }
        <h2>Total Walk Time: @(totalWalkDuration/60)</h2>
    </div>
</div>